			@font-face
			{
			font-family: fonty;
			src: url('../fonts/KaushanScript-Regular.otf');
			}
			*{	font-family: fonty;
				z-index:5;
				position:relative;

				-moz-box-sizing:border-box;
				box-sizing:border-box;

			}
			body{
				background: url('images/back.jpg');
				background-size:100% 100%;
				margin:0 auto;
			}
			#fighter1{
				background: url('images/fighter_one.png') -39px -4px;
				position: absolute;
				bottom: -6;
				width: 33px;
				height: 47px;
				left: 500;
			}
			#fighter2{
				background: url('images/fighter_two.png') -112px -13px;
				position: absolute;
				bottom: 0;
				width: 88px;
				height: 75px;
				left: 538;
			}
			#cont{
				width: 969px;
				height: 300;
				border: 3px solid #000059;
				display: flex;
				margin:0 auto;
				position:inline;
				top:30;
				left:0;
				z-index:1;
				border-bottom-width: 15px;
				border-bottom-color: #000011;
				background:#ffffff;
				overflow: hidden;
			}
			#pp2{
				float:right;
				background: -webkit-linear-gradient(#ffffff, #ff0000); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(#ffffff, #ff0000); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#ffffff, #ff0000); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#ffffff, #ff0000); /* Standard syntax (must be last) */
				height:100%;
				width:100%;
			}
			#pp1{
				background: -webkit-linear-gradient(#ffffff, #0000ff); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(#ffffff, #0000ff); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#ffffff, #0000ff); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#ffffff, #0000ff); /* Standard syntax (must be last) */
				width:100%;
				height:100%;
				float:left;
			}
			body #p2{
				float:right;
			}
			#p1,#p2{
				float:left;
				background-color:#000000;
				width:49%;
				height:70px;
				border-radius:30px;
				overflow: hidden;
				margin:0 1%;
			}
			#hh2{
				position: absolute;
				float: left;
				left: 0;
				top: 42;
				color: #0000ff;
			}
			#hh{
				position: absolute;
				float:right;
				right:0;
				top: 42;
				color: #FF0000;
			}
			#hh3{
				position: absolute;
				text-align:center;
				margin:0 auto;
				top: 66;
				left: 45%;
				color: #FF651D;
			}
			#bird{
				background: url('images/bird.png');
				position: absolute;
				right: -50;
				top: 140;
				background-size: 110%;
				width: 71px;
				height: 47px;
			}
			#bird3{
				background: url('images/bird.png');
				position: absolute;
				right: -50;
				top: 145;
				background-size: 110%;
				width: 71px;
				height: 47px;
			}
			#bird2{
				background: url('images/bird.png');
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				position: absolute;
				left: -50;
				top: 109;
				background-size: 110%;
				width: 71px;
				height: 47px;
			}
			#black h1{
				text-align:center;
				margin:0 auto;
			}
			#black{
				z-index:9;
				display:none;
				opacity:0.8;
				width:100%;
				height:100%;
				position:fixed;
				top:0;
				left:0;
				color:#00ffff;
				font-size:200%;
				background-color: #000000;
				text-align:center;
			}
			#ins{
				text-align:center;
				color:#000000;
			}
			.blood{
				width: 75px;
				margin: 5px 15px;
				height: 75px;
			}
